/*Standard Declarations */
html, body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background: url("../images/background.jpeg") no-repeat center fixed;
  background-size: cover;
  background-color: #04A4CC; }

/* Landing page */
.landing {
  width: 100%;
  color: #ECCF05; }

.title {
  position: fixed;
  top: 40%;
  width: 100%;
  text-align: center; }
  .title h1 {
    font-size: 50px;
    margin: 0; }

a {
  text-decoration: none;
  display: inline-block;
  width: 100%; }

a:hover {
  color: #fae02a; }
