/*Standard Declarations */
html, body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background: url("../images/background.jpeg") no-repeat center fixed;
  background-size: cover;
  background-color: #808080;
  height: 100%; }

/* Floating Navigation */
.float-nav {
  color: #FFFFFF;
  position: fixed;
  top: 32px;
  right: 5%;
  font-size: 24px;
  font-weight: bold;
  z-index: 9999; }

/* Quick Menu */
.quickMenu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ECCF05;
  color: white;
  font-weight: bold; }
  .quickMenu span {
    font-size: 24px;
    position: fixed;
    right: 5%;
    top: 32px; }
  .quickMenu ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    font-size: 80px; }
    .quickMenu ul li {
      padding-top: 20px; }

/* Landing page */
.landing {
  width: 100%;
  color: #ECCF05; }
  .landing ul {
    list-style-type: none;
    color: #ECCF05;
    position: fixed;
    width: 100%; }
    .landing ul li {
      display: inline-block;
      width: 48%;
      margin: auto; }
    .landing ul li:nth-child(2) {
      text-align: right;
      padding-right: 20px; }

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 200px;
  text-align: center;
  border: solid 2px #ECCF05; }
  .title h1 {
    font-size: 80px;
    margin: 0;
    padding-top: 50px; }

/* About */
.about-me {
  background-color: #e6e6e6;
  width: 100%; }
  .about-me .summary {
    width: 95%;
    margin: auto;
    padding: 50px 0; }
    .about-me .summary h1 {
      font-size: 24px;
      color: #ECCF05; }
    .about-me .summary h2 {
      margin-top: 0px;
      font-size: 48px;
      letter-spacing: 0.25px; }
    .about-me .summary a {
      text-decoration: none;
      font-weight: 100;
      color: #808080;
      display: block; }
    .about-me .summary a:hover {
      color: #9a9a9a; }
    .about-me .summary a:nth-child(5) {
      color: #ECCF05; }
    .about-me .summary a:nth-child(5):hover {
      color: #baa304; }
  .about-me .blurb {
    width: 100%;
    padding: 20px 20px;
    background-color: #FFFFFF; }
    .about-me .blurb h1 {
      color: #ECCF05;
      font-size: 32px; }
    .about-me .blurb p {
      letter-spacing: 0.5px;
      font-size: 20px;
      line-height: 150%; }
