$yellow: #ECCF05;
$white: #FFFFFF;
$grey: #808080;
$blue: #04A4CC;
$red: #FF1717;
$main-font: 'Lato', sans-serif;

/*Standard Declarations */
html, body {
	box-sizing: border-box;
	font-family: $main-font;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: url("../images/background.jpeg") no-repeat center fixed;
	background-size: cover;
	background-color: $grey;
	height: 100%;
}
/* Floating Navigation */
.float-nav {
	color: $white;
	position: fixed;
	top: 32px;
	right: 5%;
	font-size: 24px;
	font-weight: bold;
	z-index: 9999;
	cursor: pointer;
}

/* Quick Menu */
.quickMenu {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: $yellow;
	color: white;
	font-weight: bold;
	span {
		font-size: 24px;
		position: fixed;
		right: 5%;
		top: 32px;
		cursor: pointer;
	}
	div {
		width: 50%;
		margin: auto;
	}
	ul {
		list-style-type: none;
		text-align: center;
		padding: 0;
		font-size: 80px;
		li {
			padding-top: 20px;
			cursor: pointer;
		}
		li:hover {
			color: darken($white, 10%);
		}
	}
}
/* Landing page */
.landing {
	width: 100%;
	color: $yellow;
	ul {
		list-style-type: none;
		color: $yellow;
		position: fixed;
		width: 100%;
		font-size: 24px;
		li {
			display: inline-block;
			width: 48%;
			margin: auto;
			cursor: pointer
		}
		li:nth-child(2) {
			text-align: right;
			padding-right: 20px;
		}
	}
}

.title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	width:  60%;
	height: 200px;
	text-align: center;
	border: solid 2px $yellow;
	h1 {
		font-size: 80px;
		margin: 0;
		padding-top: 50px;
	}
}

/* About */
.about-me {
	background-color: lighten($grey, 40%);
	width: 100%;
	.summary {
		width: 95%;
		margin: auto;
		padding: 50px 0;
		h1 {
			font-size: 24px;
			color: $yellow;
		}
		h2 {
			margin-top: 0px;
			font-size: 48px;
			letter-spacing: 0.25px;
		}
		a {
			text-decoration: none;
			font-weight: 100;
			color: $grey;
			display: block;
		}
		a:hover {
			color: lighten($grey, 10%);
		}
		a:nth-child(6) {
			color: $yellow;
		}
		a:nth-child(6):hover {
			color: darken($yellow, 10%);
		}
	}
	.blurb {
		width: 100%;
		padding: 20px 20px;
		background-color: $white;
		h1 {
			color: $yellow;
			font-size: 32px;
		}
		p {
			letter-spacing: 0.5px;
			font-size: 20px;
			line-height: 150%;
		}
	}
}

/* Work */
.my-work {
	background-color: lighten($grey, 40%);
	width: 100%;
	padding-top: 50px;
	.work-title {
		font-size: 32px;
		font-weight: bold;
		text-align: center;
		color: $yellow;
	}
	a {
			text-decoration: none;
			color: $white;
	}
	.project-container {
		width: 75%;
		height: 350px;
		margin: 30px auto;
		padding: 15px 15px;
		text-align: center;
		color: $white;
		font-weight: bold;
		transition: all .2s ease-in-out;
		h1 {
			font-size: 48px;
			padding-top: 50px;
		}
		p {
			color: lighten($yellow, 10%);
		}
	}
	.project-container:hover {
		transform: scale(1.25);
	}

}

@media screen and (max-width: 768px) {
    .quickMenu {
    	div {
    		width: 95%;
    		position: fixed;
    		top: 50px;
    		top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
    	}
    	ul {
    		font-size: 48px;
    		width: 100%;
    	}
    }
}

@media screen and (max-width: 400px) {
	.my-work {
		.project-container {
			h1 {
				font-size: 32px;
			}

		}
	}
}



