<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Billy Kwong</title>
</head>
<body ng-controller="myController" ng-init="landing = true; aboutMe = false; myWork = false; floatNav = false; quickMenu = false;">
	<div class="float-nav" ng-if="floatNav">
		<span ng-click="showQuickMenu();">Menu.</span>
	</div>
	<div class="quickMenu" ng-if="quickMenu">
		<span ng-click="closeMenu()">Close Menu.</span>
		<ul>
			<li ng-click="showLanding()">Home</li>
			<li ng-click="showAboutMe()">About</li>
			<li ng-click="showMyWork()">My Work</li>
		</ul>
	</div>
	<section class="landing" ng-if="landing">
		<nav class="navigation">
			<ul>
				<li ng-click="showAboutMe()">About</li>
				<li ng-click="showMyWork()">My Work</li>
			</ul>
		</nav>
		<div class="title">
			<h1>Billy.</h1>
			<p>Web Developer</p>
		</div>
	</section>
	<section class="about-me" ng-if="aboutMe">
		<div class="summary">
			<h1>Billy Kwong.</h1>
			<h2>
				Web Developer,
				<br>
				Data Scientist,
				<br>
				Poutine Addict
			</h2>
			<a href="mailto:kwong.billy@gmail.com">kwong.billy@gmail.com</a>
			<a href="https://instagram.com/somethingsaid">@somethingsaid</a>
			<a href="BillyKwong_2016.pdf" download>See my resumé</a>
		</div>
		<div class="blurb">
			<h1>Nice to meet you,</h1>
			<p>My name is Billy Kwong and I'm a web developer from just north of Toronto, Ontario.  I've worked with financial insitutions and telecomm giants in a data science capacity in the past.  I'm currently studying web technologies at Thinkful.com for self-development and to rediscover my interest in programming. In my spare time I enjoy binge-eating, juggling multiple novels, and occasionally exercising.
		</div>
	</section>
	<section class="my-work" ng-if="myWork">
		<div class="work-title">
			<h1>My Work.</h1>
		</div>
		<div class="project" ng-repeat="project in projects">
		</div>
	</section>
	
</body>
</html>